In [2]:
# Chapter 5 
""" Preparing to Model the data"""

' Preparing to Model the data'

In [11]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import statistics as st
from scipy import stats
import statsmodels.tools.tools as stattools
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [12]:
# import the csv file
adult_tr = pd.read_csv('file')

#print the head of the data
bank_data.head(5)

  Marital status Income  Cap_Gains_Losses
0  Never-married  <=50K           0.02174
1       Divorced  <=50K           0.00000
2        Married  <=50K           0.00000
3        Married  <=50K           0.00000
4        Married  <=50K           0.00000

In [13]:
y = adult_tr[['Income']]
mar_np = np.array(adult_tr["Marital status"])
(mar_cat, mar_cat_dict) = stattools.categorical(mar_np,
drop=True, dictnames = True)

In [21]:
mar_cat_pd = pd.DataFrame(mar_cat)
X = pd.concat((adult_tr[['Cap_Gains_Losses']], mar_cat_pd), axis = 1)
mar_cat_pd

         0    1    2    3    4
0      0.0  0.0  1.0  0.0  0.0
1      1.0  0.0  0.0  0.0  0.0
2      0.0  1.0  0.0  0.0  0.0
3      0.0  1.0  0.0  0.0  0.0
4      0.0  1.0  0.0  0.0  0.0
5      0.0  1.0  0.0  0.0  0.0
6      0.0  0.0  1.0  0.0  0.0
7      0.0  1.0  0.0  0.0  0.0
8      0.0  1.0  0.0  0.0  0.0
9      0.0  0.0  1.0  0.0  0.0
10     0.0  0.0  1.0  0.0  0.0
11     0.0  1.0  0.0  0.0  0.0
12     0.0  1.0  0.0  0.0  0.0
13     0.0  0.0  1.0  0.0  0.0
14     0.0  0.0  1.0  0.0  0.0
15     0.0  1.0  0.0  0.0  0.0
16     0.0  1.0  0.0  0.0  0.0
17     0.0  0.0  0.0  1.0  0.0
18     0.0  1.0  0.0  0.0  0.0
19     0.0  1.0  0.0  0.0  0.0
20     1.0  0.0  0.0  0.0  0.0
21     0.0  1.0  0.0  0.0  0.0
22     0.0  0.0  1.0  0.0  0.0
23     0.0  1.0  0.0  0.0  0.0
24     1.0  0.0  0.0  0.0  0.0
25     0.0  1.0  0.0  0.0  0.0
26     0.0  0.0  1.0  0.0  0.0
27     1.0  0.0  0.0  0.0  0.0
28     0.0  1.0  0.0  0.0  0.0
29     0.0  1.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...
18731  0.0  1.0  0.0  0.0  0.0
18732  0.0  1.0  0.0  0.0  0.0
18733  0.0  0.0  1.0  0.0  0.0
18734  1.0  0.0  0.0  0.0  0.0
18735  0.0  0.0  1.0  0.0  0.0
18736  1.0  0.0  0.0  0.0  0.0
18737  0.0  0.0  0.0  0.0  1.0
18738  0.0  0.0  0.0  1.0  0.0
18739  0.0  1.0  0.0  0.0  0.0
18740  0.0  0.0  1.0  0.0  0.0
18741  0.0  1.0  0.0  0.0  0.0
18742  1.0  0.0  0.0  0.0  0.0
18743  0.0  1.0  0.0  0.0  0.0
18744  0.0  1.0  0.0  0.0  0.0
18745  0.0  0.0  0.0  0.0  1.0
18746  0.0  1.0  0.0  0.0  0.0
18747  0.0  0.0  1.0  0.0  0.0
18748  1.0  0.0  0.0  0.0  0.0
18749  0.0  1.0  0.0  0.0  0.0
18750  0.0  0.0  1.0  0.0  0.0
18751  0.0  1.0  0.0  0.0  0.0
18752  0.0  1.0  0.0  0.0  0.0
18753  0.0  1.0  0.0  0.0  0.0
18754  0.0  0.0  1.0  0.0  0.0
18755  0.0  1.0  0.0  0.0  0.0
18756  1.0  0.0  0.0  0.0  0.0
18757  0.0  1.0  0.0  0.0  0.0
18758  0.0  1.0  0.0  0.0  0.0
18759  1.0  0.0  0.0  0.0  0.0
18760  0.0  1.0  0.0  0.0  0.0

[18761 rows x 5 columns]

In [20]:
adult_tr[['Cap_Gains_Losses']]

       Cap_Gains_Losses
0              0.021740
1              0.000000
2              0.000000
3              0.000000
4              0.000000
5              0.000000
6              0.140841
7              0.051781
8              0.000000
9              0.000000
10             0.000000
11             0.000000
12             0.000000
13             0.000000
14             0.000000
15             0.000000
16             0.000000
17             0.000000
18             0.000000
19             0.468779
20             0.000000
21             0.000000
22             0.000000
23             0.000000
24             0.000000
25             0.000000
26             0.000000
27             0.323232
28             0.000000
29             0.000000
...                 ...
18731          0.000000
18732          0.000000
18733          0.000000
18734          0.000000
18735          0.000000
18736          0.000000
18737          0.000000
18738          0.025970
18739          0.436639
18740          0.000000
18741          0.000000
18742          0.023540
18743          0.000000
18744          0.000000
18745          0.000000
18746          0.000000
18747          0.000000
18748          0.000000
18749          0.000000
18750          0.010550
18751          1.000000
18752          0.362489
18753          0.000000
18754          0.000000
18755          0.000000
18756          0.000000
18757          0.000000
18758          0.000000
18759          0.000000
18760          0.000000

[18761 rows x 1 columns]

In [19]:
X

       Cap_Gains_Losses    0    1    2    3    4
0              0.021740  0.0  0.0  1.0  0.0  0.0
1              0.000000  1.0  0.0  0.0  0.0  0.0
2              0.000000  0.0  1.0  0.0  0.0  0.0
3              0.000000  0.0  1.0  0.0  0.0  0.0
4              0.000000  0.0  1.0  0.0  0.0  0.0
5              0.000000  0.0  1.0  0.0  0.0  0.0
6              0.140841  0.0  0.0  1.0  0.0  0.0
7              0.051781  0.0  1.0  0.0  0.0  0.0
8              0.000000  0.0  1.0  0.0  0.0  0.0
9              0.000000  0.0  0.0  1.0  0.0  0.0
10             0.000000  0.0  0.0  1.0  0.0  0.0
11             0.000000  0.0  1.0  0.0  0.0  0.0
12             0.000000  0.0  1.0  0.0  0.0  0.0
13             0.000000  0.0  0.0  1.0  0.0  0.0
14             0.000000  0.0  0.0  1.0  0.0  0.0
15             0.000000  0.0  1.0  0.0  0.0  0.0
16             0.000000  0.0  1.0  0.0  0.0  0.0
17             0.000000  0.0  0.0  0.0  1.0  0.0
18             0.000000  0.0  1.0  0.0  0.0  0.0
19             0.468779  0.0  1.0  0.0  0.0  0.0
20             0.000000  1.0  0.0  0.0  0.0  0.0
21             0.000000  0.0  1.0  0.0  0.0  0.0
22             0.000000  0.0  0.0  1.0  0.0  0.0
23             0.000000  0.0  1.0  0.0  0.0  0.0
24             0.000000  1.0  0.0  0.0  0.0  0.0
25             0.000000  0.0  1.0  0.0  0.0  0.0
26             0.000000  0.0  0.0  1.0  0.0  0.0
27             0.323232  1.0  0.0  0.0  0.0  0.0
28             0.000000  0.0  1.0  0.0  0.0  0.0
29             0.000000  0.0  1.0  0.0  0.0  0.0
...                 ...  ...  ...  ...  ...  ...
18731          0.000000  0.0  1.0  0.0  0.0  0.0
18732          0.000000  0.0  1.0  0.0  0.0  0.0
18733          0.000000  0.0  0.0  1.0  0.0  0.0
18734          0.000000  1.0  0.0  0.0  0.0  0.0
18735          0.000000  0.0  0.0  1.0  0.0  0.0
18736          0.000000  1.0  0.0  0.0  0.0  0.0
18737          0.000000  0.0  0.0  0.0  0.0  1.0
18738          0.025970  0.0  0.0  0.0  1.0  0.0
18739          0.436639  0.0  1.0  0.0  0.0  0.0
18740          0.000000  0.0  0.0  1.0  0.0  0.0
18741          0.000000  0.0  1.0  0.0  0.0  0.0
18742          0.023540  1.0  0.0  0.0  0.0  0.0
18743          0.000000  0.0  1.0  0.0  0.0  0.0
18744          0.000000  0.0  1.0  0.0  0.0  0.0
18745          0.000000  0.0  0.0  0.0  0.0  1.0
18746          0.000000  0.0  1.0  0.0  0.0  0.0
18747          0.000000  0.0  0.0  1.0  0.0  0.0
18748          0.000000  1.0  0.0  0.0  0.0  0.0
18749          0.000000  0.0  1.0  0.0  0.0  0.0
18750          0.010550  0.0  0.0  1.0  0.0  0.0
18751          1.000000  0.0  1.0  0.0  0.0  0.0
18752          0.362489  0.0  1.0  0.0  0.0  0.0
18753          0.000000  0.0  1.0  0.0  0.0  0.0
18754          0.000000  0.0  0.0  1.0  0.0  0.0
18755          0.000000  0.0  1.0  0.0  0.0  0.0
18756          0.000000  1.0  0.0  0.0  0.0  0.0
18757          0.000000  0.0  1.0  0.0  0.0  0.0
18758          0.000000  0.0  1.0  0.0  0.0  0.0
18759          0.000000  1.0  0.0  0.0  0.0  0.0
18760          0.000000  0.0  1.0  0.0  0.0  0.0

[18761 rows x 6 columns]

In [5]:
# Creating a Training and Test datasets
#Let the test set be 25% of the original dataset
bank_train,bank_test = train_test_split(bank_data,test_size = 0.25,random_state = 7)

In [6]:
# Print the data sizes to verify split
n = bank_data.shape[0]
train_n = bank_train.shape[0]
test_n = bank_test.shape[0]
print('The size of original dataset is {}'.format(bank_data.shape))
print('The size of training dataset is {} which is {} percent of original dataset.'
      .format(bank_train.shape,(np.round(train_n/n,decimals=2))*100))
print('The size of test dataset is {} which is {} percent of original dataset.'
      .format(bank_test.shape,(np.round(test_n/n,decimals=2))*100))

The size of original dataset is (4119, 21)
The size of training dataset is (3089, 21) which is 75.0 percent of original dataset.
The size of test dataset is (1030, 21) which is 25.0 percent of original dataset.

In [7]:
"""
Validate the partition into training and test sets by graphical and statistical
comparison

The suggested hypothesis test for validating different types of target variables
◦ Numeric – two-sample t-test for the difference in means
◦ Categorical variable with 2 classes – two-sample Z-test for the difference in proportions
◦ Categorical variable with more than 2 classes – test for the homogeneity of proportions
"""

# Two-sample t-Test for difference in means of age attribute
train_mean = np.round(st.mean(bank_train['age']),decimals=2)
test_mean = np.round(st.mean(bank_test['age']),decimals=2)
train_sd = np.round(st.stdev(bank_train['age']),decimals=2)
test_sd = np.round(st.stdev(bank_test['age']),decimals=2)
test_result = [train_mean,test_mean,train_sd,test_sd,train_n,test_n]
print(test_result)
A = (train_sd**2)/train_n
B = (test_sd**2)/test_n
t_data = (train_mean - test_mean)/np.sqrt(A + B)
print('The t-Test value of the splitted data is {}'.format(t_data))

[39.91, 40.71, 10.23, 10.54, 3089, 1030]
The t-Test value of the splitted data is -2.124962254667115

In [11]:
# Calculating the p-val
t_val,p_val = stats.ttest_ind(bank_train['age'],bank_test['age'])
t_val
p_val

0.031071516727419125

In [66]:
# A code to count 
no,yes = bank_data['y'].value_counts()

In [76]:
# Balancing the data
num_of_resample = int((0.3*n - yes)/(1-0.3))
num_of_resample

1121

In [74]:
to_resample =bank_train. loc[bank_train['y']=="yes"]

In [75]:
to_resample

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
1409,42,admin.,single,university.degree,no,yes,yes,telephone,may,wed,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,yes
1599,44,services,divorced,high.school,no,no,no,cellular,may,mon,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1,yes
2616,34,admin.,single,university.degree,no,no,no,cellular,nov,thu,...,1,7,2,success,-3.4,92.649,-30.1,0.714,5017.5,yes
3097,37,admin.,married,university.degree,no,no,no,telephone,jul,mon,...,5,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,yes
3697,38,services,single,high.school,no,no,no,cellular,sep,fri,...,2,999,0,nonexistent,-1.1,94.199,-37.5,0.878,4963.6,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2627,41,services,married,high.school,no,yes,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,yes
1685,33,blue-collar,single,high.school,no,no,no,cellular,may,mon,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1,yes
1175,36,blue-collar,single,basic.9y,no,yes,yes,telephone,jun,thu,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.955,5228.1,yes
2542,41,admin.,married,basic.6y,no,no,no,cellular,apr,fri,...,2,999,1,failure,-1.8,93.075,-47.1,1.479,5099.1,yes
1486,38,technician,married,university.degree,no,no,no,cellular,jun,wed,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2,yes

In [77]:
new_samples = to_resample.sample(n = num_of_resample,replace = "yes")

In [78]:
new_samples

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
1175,36,blue-collar,single,basic.9y,no,yes,yes,telephone,jun,thu,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.955,5228.1,yes
750,75,retired,married,university.degree,no,yes,no,cellular,jul,thu,...,1,999,2,failure,-1.7,94.215,-40.3,0.810,4991.6,yes
609,40,technician,single,university.degree,no,no,no,cellular,nov,mon,...,1,7,2,failure,-3.4,92.649,-30.1,0.714,5017.5,yes
689,41,entrepreneur,married,university.degree,no,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,-1.7,94.027,-38.3,0.904,4991.6,yes
3453,37,management,married,unknown,no,no,no,cellular,dec,wed,...,3,999,0,nonexistent,-3.0,92.713,-33.0,0.715,5023.5,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3354,52,admin.,married,university.degree,no,no,no,cellular,may,thu,...,1,999,0,nonexistent,-1.8,93.876,-40.0,0.677,5008.7,yes
3258,42,admin.,married,university.degree,no,yes,no,cellular,aug,tue,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,yes
2242,34,management,married,high.school,no,yes,no,cellular,jul,tue,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes
1658,29,services,single,high.school,no,yes,yes,cellular,jun,wed,...,2,999,2,failure,-2.9,92.963,-40.8,1.260,5076.2,yes
696,86,retired,married,unknown,unknown,yes,yes,cellular,sep,tue,...,1,7,4,success,-1.1,94.199,-37.5,0.877,4963.6,yes