In [1]:
# Chapter 5 
""" Preparing to Model the data"""

' Preparing to Model the data'

In [33]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import statistics as st

In [7]:
# import the csv file
bank_data = pd.read_csv('bank-additional.csv',sep = ';')

#print the head of the data
bank_data.head(20)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,...,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6,no
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,...,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,...,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8,no
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
10,25,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
11,36,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
12,36,admin.,married,high.school,no,no,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,no
13,47,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1,no
14,29,admin.,single,high.school,no,no,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
15,27,services,single,university.degree,no,no,no,cellular,jul,wed,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
16,44,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,...,6,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
17,46,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,45,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
19,50,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,yes

In [9]:
# Creating a Training and Test datasets
#Let the test set be 25% of the original dataset
bank_train,bank_test = train_test_split(bank_data,test_size = 0.25,random_state = 7)

In [29]:
# Print the data sizes to verify split
print('The size of original dataset is {}'.format(bank_data.shape))
print('The size of training dataset is {} which is {} percent of original dataset.'
      .format(bank_train.shape,(np.round(bank_train.shape[0]/bank_data.shape[0],decimals=2))*100))
print('The size of test dataset is {} which is {} percent of original dataset.'
      .format(bank_test.shape,(np.round(bank_test.shape[0]/bank_data.shape[0],decimals=2))*100))

The size of original dataset is (4119, 21)
The size of training dataset is (3089, 21) which is 75.0 percent of original dataset.
The size of test dataset is (1030, 21) which is 25.0 percent of original dataset.

In [43]:
"""
Validate the partition into training and test sets by graphical and statistical
comparison

The suggested hypothesis test for validating different types of target variables
◦ Numeric – two-sample t-test for the difference in means
◦ Categorical variable with 2 classes – two-sample Z-test for the difference in proportions
◦ Categorical variable with more than 2 classes – test for the homogeneity of proportions
"""

# Two-sample t-Test for difference in means of age attribute
train_mean = np.round(st.mean(bank_train['age']),decimals=2)
test_mean = np.round(st.mean(bank_test['age']),decimals=2)
train_sd = np.round(st.stdev(bank_train['age']),decimals=2)
test_sd = np.round(st.stdev(bank_test['age']),decimals=2)

In [44]:
train_sd

10.23